/** CSS STYLE **/
:root {
  --white-color: #fff;
  --semi-white-color: #d7ccc0;
  --light-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --semi-dark-color: #908d8b;
  --bworn-color: #b09a81;
  --blue-color: #1085c5;
}

.hello {
  display: block;

  color: #fff;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: normal;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

.main {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  color: var(--main-dark-color);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header,
main,
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.w-1110 {
  display: flex;
  justify-content: center;
  width: 1110px;
}

.opacity-background::before {
  background-image: url("../images/background.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.head-h1 {
  position: absolute;
}

.orange {
  color: var(--main-color);
}

#main-image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.z-index-1 {
  z-index: 1;
}