/** CSS STYLE **/
:root {
  --white-color: #fff;
  --semi-white-color: #d7ccc0;
  --light-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --semi-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

.hello {
  display: block;

  color: #fff;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: normal;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--main-color);
  font: 1em/1.2em Neucha, sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

body {
  position: relative;

  margin: 0;
  overflow-x: hidden;

  color: #2a2626;
  font: 16px/1.6em "Open Sans", sans-serif;
}

.light-background {
  background: var(--light-color);
}

.brown-background {
  background: var(--brown-color);
}

.input,
section,
header {
  position: relative;
}

.text-center {
  text-align: center;
}

.video-section-head {
  color: #2a2626;
  margin-bottom: 30px;
}

.video-section-text {
  margin-bottom: 30px;
}

.main-background::before,
header::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

* {
  box-sizing: border-box;
}

.orange {
  color: var(--main-color);
}

.dark {
  color: var(--main-dark-color);
}

.main-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.container {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 1110px;

  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.z-index-10000 {
  z-index: 10000;
}

.header-title {
  margin-bottom: 195px;
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.col {
  padding-top: 10px;
}

.header-link {
  position: relative;
  left: calc(50% + 15px);

  display: flex;
  align-items: center;

  width: 148px;
  height: 49px;

  margin-top: 40px;
  padding: 12px 24px;

  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;
}

.btn {
  background: var(--main-color);
}

.btn:hover {
  background: #ea7600;
}

.video {
  z-index: 10000;

  align-self: center;

  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigation-section {
  position: relative;
  top: -300px;

  background: var(--main-dark-color);
}

.navigation-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/

  max-width: 1110px;

  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;

  padding-top: 200px;
  padding-bottom: 100px;
}

.navigation-cart {
  flex-basis: 350px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.navigation-cart:nth-child(3n) {
  margin-right: 0;
}

.navigation-head {
  color: var(--white-color);
  font-size: 52px;
}

.navigation-link {
  padding: 24px;

  text-decoration: none;

  background: var(--light-color);
}

.navigation-link > h2 {
  margin-bottom: 40px;

  font-weight: normal;
  font-size: 64px;
  line-height: 1;
}

.m16-bot {
  margin-bottom: 16px;
}

.m12-bot {
  margin-bottom: 12px;
}

.m30-right {
  margin-right: 30px;
}

p {
  margin: 0;
}

.navigation-link > p {
  color: #2a2626;
  font: 16px/1.6em "Open Sans", sans-serif;
}

.navigation-link:hover {
  color: var(--white-color);

  background: var(--main-color);
}

.footer-field > h3 {
  width: calc(1110px - 110px - 50% - 15px);
}

.navigation-link:hover > h2,
.navigation-link:hover > h3,
.navigation-link:hover > p {
  color: var(--white-color);
}

.top-300 {
  top: -300px;
}

.ikea-image {
  width: 578px;
  height: 434px;

  vertical-align: middle;
}

.section-head {
  display: flex;
}

.cognitive-distortions {
  font: normal 24px/29px Neucha, sans-serif;
}

.color-secondary {
  color: var(--semi-dark-color);
}

.color-semi-white {
  color: var(--semi-white-color);
}

.cognitive-distortions-name {
  margin-bottom: 30px;

  font: normal 60px/72px Neucha, sans-serif;
}

.cognitive-distortions-description {
  font: normal 34px/41px Neucha, sans-serif;
}

.how {
  margin-top: 100px;
  margin-bottom: 20px;

  padding: 10px 5px;

  font: 700 14px/17px "Open Sans", sans-serif;

  text-transform: uppercase;
}

.how-brown {
  color: var(--white-color);

  background: var(--brown-color);
}

.how-white {
  color: var(--brown-color);

  background: var(--white-color);
}

.avoid-break {
  break-inside: avoid;
}

.white {
  color: var(--white-color);
}

footer {
  position: absolute;
  top: calc(100% - 300px);
  right: 0;
  left: 0;
}

.footer-field {
  display: flex;
  align-items: center;

  width: 100%;

  margin: 0 auto;
  padding: 55px;

  background: var(--main-dark-color);
}

.mail-input {
  width: 415px;
  height: 50px;

  margin-top: 9px;
  padding: 15px;

  border: 0;
}

.mail {
  font-size: 18px;
  line-height: 1.6;
}

.service {
  font-size: 12px;
}

.send {
  position: absolute;
  top: 9px;
  right: 0;
  left: 415px;

  z-index: 10;

  width: 70px;
  height: 50px;

  background: var(--main-color) url("../images/send.svg") border-box center no-repeat;

  border: 0;
}

.send:hover {
  background-color: #ea7600;
}

input::placeholder {
  color: #757575;

  opacity: 0.2;
}

.contact-info {
  margin-top: 60px;

  font-size: 14px;

  text-align: center;
}

.blue {
  color: var(--blue-color);
}
